<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Articles du blog</h1>
    <p><a href="/ajouter/"><button>Ajouter un article</button></a></p>
    {% if articles %}
        <ul>
        {% for article in articles %}
            <li>
                <strong><a href="{% url 'detail_article' article.id %}">{{ article.titre }}</a></strong><br>
                {{ article.date_creation|date:"d/m/Y H:i" }}<br>
                <p>{{ article.contenu|linebreaks }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun article pour le moment.</p>
    {% endif %}
</body>
</html>
